.dl-table {
    a {
        padding-bottom: 0.4rem;
    }
    .btn {
        margin: 1.5rem 0;
    }
}

del {
    text-decoration: blink;
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.7em;
    background-color: #ffe123a6;
}
